In [1]:
import ast
import geopy.distance
import pandas as pd

# 6 Random Points in LA

In [2]:
# Read 6 points
six_points = pd.read_csv('6 Random Points for Crime and Citation.txt', sep=', ', 
                        names=["lat", "lon", "location"], engine='python')

In [3]:
display(six_points)

         lat         lon      location
0  34.101918 -118.340654  Walk Of Fame
1  34.022761 -118.284271           USC
2  34.024510 -118.399780   Culver City
3  33.770264 -118.193335    Long Beach
4  34.019369 -118.490026  Santa Monica
5  34.044426 -118.242641          DTLA

# Citation Data

In [4]:
# Read preprocessed data
citation_df = pd.read_csv("citation_code_aggregation_2023.csv")

In [5]:
display(citation_df)

,week,lat_lon,PARKING PROHIBITED OR LIMITED,PARKED IN BUS LOADING ZONE,PUBLIC GROUNDS,BICYCLE PARKING,BLK BIKE PATH OR LANE,PARKED IN FIRE LANE,WITHIN INTERSECTION,PARKED IN CROSSWALK,...,MOB BILBD ADV DISP,ADVERTISING ON VEH,FOR SALE SIGN,OUTSIDE LINES/METER,METER EXP.,OFF STR MTR/OUT LINE,OFF STR/OVERTIME/MTR,TIME LIMIT/CITY LOT,ELECTRIC CHARGING STATION SPACES,METER EXPIRED
0,1,"('33.71', '-118.29')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,"('33.72', '-118.29')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,9.0,0.0,0.0,0.0,0.0,0.0
2,1,"('33.72', '-118.30')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0
3,1,"('33.72', '-118.31')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1,"('33.72', '-118.32')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,13,"('46.69', '-118.32')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10679,13,"('46.71', '-118.30')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10680,13,"('46.72', '-118.28')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10681,13,"('46.73', '-118.27')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10682,13,"('46.75', '-118.24')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Calculate Distance between 6 Points and Entires in Crime Data

In [6]:
# Convert entires from 6 points to list of coordinates
destinations = six_points[['lat', 'lon', 'location']].values.tolist()
print(destinations)

[[34.10191838238517, -118.34065396331684, 'Walk Of Fame'], [34.022760795358465, -118.28427074428674, 'USC'], [34.02450978951446, -118.39978008110954, 'Culver City'], [33.77026359060814, -118.19333471391732, 'Long Beach'], [34.01936913111784, -118.4900255155453, 'Santa Monica'], [34.04442572218516, -118.24264099062091, 'DTLA']]

In [7]:
for location in destinations:
    distance_list = list()
    for index, row in citation_df.iterrows():
        # Format start and end location
        start_location = ast.literal_eval(row['lat_lon'])
        start_coor = (float(start_location[0]), float(start_location[1]))
        end_coor = (location[0], location[1])
        
        # Calculate distance in miles
        distance = geopy.distance.geodesic(start_coor, end_coor).miles
        distance_list.append(round(distance, 3))

    # Add to crime df as new column
    citation_df['distance_to_' + str(location[2])] = distance_list

In [8]:
# citation_df

,week,lat_lon,PARKING PROHIBITED OR LIMITED,PARKED IN BUS LOADING ZONE,PUBLIC GROUNDS,BICYCLE PARKING,BLK BIKE PATH OR LANE,PARKED IN FIRE LANE,WITHIN INTERSECTION,PARKED IN CROSSWALK,...,OFF STR/OVERTIME/MTR,TIME LIMIT/CITY LOT,ELECTRIC CHARGING STATION SPACES,METER EXPIRED,distance_to_Walk Of Fame,distance_to_USC,distance_to_Culver City,distance_to_Long Beach,distance_to_Santa Monica,distance_to_DTLA
0,1,"('33.71', '-118.29')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,27.169,21.559,22.577,6.945,24.226,23.210
1,1,"('33.72', '-118.29')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,26.483,20.870,21.916,6.556,23.622,22.525
2,1,"('33.72', '-118.30')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,26.426,20.887,21.757,7.051,23.347,22.602
3,1,"('33.72', '-118.31')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,26.382,20.919,21.613,7.558,23.084,22.693
4,1,"('33.72', '-118.32')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,26.350,20.968,21.483,8.074,22.832,22.798
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10678,13,"('46.69', '-118.32')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,868.565,874.022,873.909,891.448,874.299,872.536
10679,13,"('46.71', '-118.30')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,869.948,875.402,875.297,892.822,875.692,873.913
10680,13,"('46.72', '-118.28')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,870.642,876.092,875.994,893.507,876.395,874.601
10681,13,"('46.73', '-118.27')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,871.335,876.783,876.689,894.195,877.093,875.291
10682,13,"('46.75', '-118.24')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,872.725,878.168,878.084,895.571,878.496,876.671

In [9]:
df_WOF = citation_df[citation_df['distance_to_Walk Of Fame'] <= 2.0].iloc[:, :-6]
df_USC = citation_df[citation_df['distance_to_USC'] <= 2.0].iloc[:, :-6]
df_CC = citation_df[citation_df['distance_to_Culver City'] <= 2.0].iloc[:, :-6]
df_LB = citation_df[citation_df['distance_to_Long Beach'] <= 8.0].iloc[:, :-6]  # Changed filter distance
df_SM = citation_df[citation_df['distance_to_Santa Monica'] <= 2.0].iloc[:, :-6]
df_DTLA = citation_df[citation_df['distance_to_DTLA'] <= 2.0].iloc[:, :-6]

In [11]:
df_WOF['All Violation'] = df_WOF.iloc[:, 2:].sum(axis=1)
# df_WOF.head()
df_USC['All Violation'] = df_USC.iloc[:, 2:].sum(axis=1)
df_CC['All Violation'] = df_CC.iloc[:, 2:].sum(axis=1)
df_LB['All Violation'] = df_LB.iloc[:, 2:].sum(axis=1)
df_SM['All Violation'] = df_SM.iloc[:, 2:].sum(axis=1)
df_DTLA['All Violation'] = df_DTLA.iloc[:, 2:].sum(axis=1)

,week,lat_lon,PARKING PROHIBITED OR LIMITED,PARKED IN BUS LOADING ZONE,PUBLIC GROUNDS,BICYCLE PARKING,BLK BIKE PATH OR LANE,PARKED IN FIRE LANE,WITHIN INTERSECTION,PARKED IN CROSSWALK,...,ADVERTISING ON VEH,FOR SALE SIGN,OUTSIDE LINES/METER,METER EXP.,OFF STR MTR/OUT LINE,OFF STR/OVERTIME/MTR,TIME LIMIT/CITY LOT,ELECTRIC CHARGING STATION SPACES,METER EXPIRED,All Violation
155,1,"('34.00', '-118.41')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.0
175,1,"('34.01', '-118.42')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0
194,1,"('34.02', '-118.37')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14.0
195,1,"('34.02', '-118.40')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,17.0,0.0,0.0,0.0,0.0,0.0,30.0
196,1,"('34.02', '-118.41')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,67.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10401,13,"('34.03', '-118.41')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,5.0
10402,13,"('34.03', '-118.43')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
10420,13,"('34.04', '-118.38')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0
10421,13,"('34.04', '-118.39')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,3.0
10422,13,"('34.04', '-118.42')",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [12]:
df_WOF_agg = df_WOF.groupby(['week']).sum().reset_index()
df_WOF_agg['location'] = 'Walk Of Fame'

df_USC_agg = df_USC.groupby(['week']).sum().reset_index()
df_USC_agg['location'] = 'USC'

df_CC_agg = df_CC.groupby(['week']).sum().reset_index()
df_CC_agg['location'] = 'Culver City'

df_LB_agg = df_LB.groupby(['week']).sum().reset_index()
df_LB_agg['location'] = 'Long Beach'

df_SM_agg = df_SM.groupby(['week']).sum().reset_index()
df_SM_agg['location'] = 'Santa Monica'

df_DTLA_agg = df_DTLA.groupby(['week']).sum().reset_index()
df_DTLA_agg['location'] = 'DTLA'

In [13]:
# df_DTLA_agg

,week,PARKING PROHIBITED OR LIMITED,PARKED IN BUS LOADING ZONE,PUBLIC GROUNDS,BICYCLE PARKING,BLK BIKE PATH OR LANE,PARKED IN FIRE LANE,WITHIN INTERSECTION,PARKED IN CROSSWALK,SAFETY ZONE/CURB,...,FOR SALE SIGN,OUTSIDE LINES/METER,METER EXP.,OFF STR MTR/OUT LINE,OFF STR/OVERTIME/MTR,TIME LIMIT/CITY LOT,ELECTRIC CHARGING STATION SPACES,METER EXPIRED,All Violation,location
0,1,0.0,0.0,0.0,0.0,4.0,4.0,0.0,5.0,3.0,...,0.0,24.0,1012.0,1.0,15.0,0.0,22.0,0.0,3693.0,DTLA
1,2,0.0,0.0,0.0,0.0,5.0,4.0,2.0,12.0,4.0,...,0.0,38.0,1247.0,1.0,7.0,0.0,27.0,0.0,4384.0,DTLA
2,3,0.0,0.0,0.0,0.0,8.0,8.0,1.0,18.0,0.0,...,0.0,34.0,1322.0,0.0,19.0,0.0,29.0,0.0,4689.0,DTLA
3,4,0.0,0.0,0.0,0.0,8.0,5.0,3.0,7.0,2.0,...,0.0,45.0,1287.0,0.0,18.0,0.0,27.0,0.0,4723.0,DTLA
4,5,0.0,0.0,0.0,0.0,4.0,9.0,3.0,10.0,1.0,...,0.0,38.0,1478.0,1.0,5.0,0.0,37.0,0.0,5303.0,DTLA
5,6,0.0,0.0,0.0,0.0,11.0,9.0,2.0,17.0,5.0,...,0.0,27.0,1328.0,0.0,17.0,0.0,45.0,0.0,5604.0,DTLA
6,7,0.0,0.0,0.0,0.0,4.0,7.0,1.0,16.0,1.0,...,0.0,22.0,1341.0,0.0,3.0,0.0,38.0,0.0,5020.0,DTLA
7,8,0.0,0.0,0.0,0.0,4.0,0.0,2.0,5.0,4.0,...,0.0,22.0,736.0,0.0,7.0,0.0,25.0,0.0,3352.0,DTLA
8,9,0.0,0.0,0.0,0.0,15.0,5.0,2.0,20.0,3.0,...,0.0,35.0,1291.0,0.0,13.0,0.0,38.0,0.0,4970.0,DTLA
9,10,0.0,0.0,0.0,0.0,7.0,1.0,3.0,15.0,2.0,...,0.0,44.0,1246.0,0.0,10.0,0.0,38.0,0.0,5007.0,DTLA
10,11,0.0,0.0,0.0,0.0,12.0,0.0,1.0,8.0,2.0,...,0.0,40.0,1060.0,1.0,12.0,0.0,29.0,0.0,4334.0,DTLA
11,12,0.0,0.0,0.0,0.0,8.0,1.0,0.0,8.0,5.0,...,0.0,34.0,957.0,1.0,8.0,0.0,36.0,0.0,4020.0,DTLA
12,13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,104.0,0.0,0.0,0.0,2.0,0.0,429.0,DTLA

In [14]:
df_final = pd.concat([df_WOF_agg, df_USC_agg, df_CC_agg, df_LB_agg, df_SM_agg, df_DTLA_agg])
df_final = df_final.reset_index(drop=True)
# display(df_final)

,week,PARKING PROHIBITED OR LIMITED,PARKED IN BUS LOADING ZONE,PUBLIC GROUNDS,BICYCLE PARKING,BLK BIKE PATH OR LANE,PARKED IN FIRE LANE,WITHIN INTERSECTION,PARKED IN CROSSWALK,SAFETY ZONE/CURB,...,FOR SALE SIGN,OUTSIDE LINES/METER,METER EXP.,OFF STR MTR/OUT LINE,OFF STR/OVERTIME/MTR,TIME LIMIT/CITY LOT,ELECTRIC CHARGING STATION SPACES,METER EXPIRED,All Violation,location
0,1,0.0,0.0,0.0,0.0,0.0,6.0,0.0,0.0,0.0,...,0.0,1.0,307.0,0.0,0.0,0.0,7.0,0.0,1762.0,Walk Of Fame
1,2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,287.0,0.0,0.0,0.0,3.0,0.0,1354.0,Walk Of Fame
2,3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,288.0,0.0,0.0,0.0,1.0,0.0,2042.0,Walk Of Fame
3,4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,2.0,401.0,0.0,0.0,0.0,0.0,0.0,2307.0,Walk Of Fame
4,5,0.0,0.0,0.0,0.0,0.0,7.0,0.0,1.0,1.0,...,0.0,2.0,365.0,0.0,0.0,0.0,0.0,0.0,1929.0,Walk Of Fame
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,9,0.0,0.0,0.0,0.0,15.0,5.0,2.0,20.0,3.0,...,0.0,35.0,1291.0,0.0,13.0,0.0,38.0,0.0,4970.0,DTLA
74,10,0.0,0.0,0.0,0.0,7.0,1.0,3.0,15.0,2.0,...,0.0,44.0,1246.0,0.0,10.0,0.0,38.0,0.0,5007.0,DTLA
75,11,0.0,0.0,0.0,0.0,12.0,0.0,1.0,8.0,2.0,...,0.0,40.0,1060.0,1.0,12.0,0.0,29.0,0.0,4334.0,DTLA
76,12,0.0,0.0,0.0,0.0,8.0,1.0,0.0,8.0,5.0,...,0.0,34.0,957.0,1.0,8.0,0.0,36.0,0.0,4020.0,DTLA
77,13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,2.0,104.0,0.0,0.0,0.0,2.0,0.0,429.0,DTLA

In [15]:
# Save result
df_final.to_csv('citation_check_updated_2023.csv', index=False, encoding='utf-8')